/* These fixes were made with love (and lots of swearing on Leafy's end). Special thanks at the end. */

/* 
********
* BASE *
********
*/

.message-2qnXI6 .username-1A8OIy::after {
    content: none;
    color: var(--main-color);
    border: 1px solid;
    border-radius: 6px;
    margin-left: 8px;
    text-shadow: 0px 0px 2px var(--main-color), 0px 0px 4px var(--hover-color);
    background-color: rgba(255,255,255,0.05);
    font-size: 10px;
}
.message-2qnXI6 .username-1A8OIy:hover::after {
    color: var(--hover-color);
    text-shadow: 0px 0px 10px var(--hover-color);
}

/*
********
* DEVS *
********
*/

/* Leozard */
.message-2qnXI6 [src*='avatars/240437190339854337/'] + .username-1A8OIy::after {
    content: ' v6 Import Fix Dev ';
}

/* LeafyLuigi */
.message-2qnXI6 [src*='avatars/206088651493343232/'] + .username-1A8OIy::after {
    content: ' v6 Import Fix Dev ';
}

/* KitKat */
.message-2qnXI6 [src*='avatars/213067580531933196/'] + .username-1A8OIy::after {
    content: ' v6 Import Fix Dev ';
}

/* Scars */
.message-2qnXI6 [src*='avatars/126652966265421824/'] + .username-1A8OIy::after {
    content: ' v6 Import Fix Dev ';
}

/* soda (cruxie) - Also made the base for this file. */
.message-2qnXI6 [src*='avatars/332394843743584256/'] + .username-1A8OIy::after {
    content: ' v6 Import Fix Dev ';
    color: #DEA5A4;
    text-shadow: 0px 0px 2px #DEA5A4, 0px 0px 4px #ffd1dc;
}
.message-2qnXI6 [src*='avatars/332394843743584256/'] + .username-1A8OIy:hover::after {
    color: #ffd1dc;
    text-shadow: 0px 0px 10px #ffd1dc;
}

/*
**********
* THANKS *
**********
*/

/* Zerthox - For making CV. */
.message-2qnXI6 [src*='avatars/144881947557101568/'] + .username-1A8OIy::after {
    content: ' Thanks for CV ';
    color: rgb(40, 160, 220);
    text-shadow: 0px 0px 2px rgb(40, 160, 220), 0px 0px 4px #09a8f7;
}
.message-2qnXI6 [src*='avatars/144881947557101568/'] + .username-1A8OIy:hover::after {
    color: #09a8f7;
    text-shadow: 0px 0px 10px #09a8f7;
}

/* Cawtina - Moral "support" */
.message-2qnXI6 [src*='avatars/205683558453477376/'] + .username-1A8OIy::after {
    content: ' men who say flat is justice are cucks ';
    color: #DEA5A4;
    text-shadow: 0px 0px 2px #DEA5A4, 0px 0px 4px #ffd1dc;
}
.message-2qnXI6 [src*='avatars/205683558453477376/'] + .username-1A8OIy:hover::after {
    color: #ffd1dc;
    text-shadow: 0px 0px 10px #ffd1dc;
}


/* stfu gang */
.message-2qnXI6 [src*='avatars/219227787356012555/'] + .username-1A8OIy::after,
.message-2qnXI6 [src*='avatars/109933711142719488/'] + .username-1A8OIy::after {
    content: ' "Please ignore anything I say!" ';
    color: #333;
    text-shadow: 0px 0px 2px #333, 0px 0px 4px #666;
}
.message-2qnXI6 [src*='avatars/219227787356012555/'] + .username-1A8OIy:hover::after,
.message-2qnXI6 [src*='avatars/109933711142719488/'] + .username-1A8OIy:hover::after {
    color: #666;
    text-shadow: 0px 0px 10px #666;
}
