/* Cosmetic things. These are not as useful*/
/* Hide all blocked messages*/
.da-messageGroupBlocked {
    display: none;
}

/* completely fucking nuke the gift button */
.buttons-3JBrkn>.button-38aScr:nth-child(1) {
  display:none;
}

/* Gets rid of both Server Discovery and Add Server Button*/
.circleButtonMask-2VNJsN .wrapper-25eVIn, .pill-3YxEhL .wrapper-sa6paO .da-pill .da-wrapper {
    display: none;
}

/* Remove Call and Video Call buttons */
.container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:nth-child(1), .container-3gCOGc .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9:nth-child(2){
    display: none;
}

/* Remove "Library" and "Store" */
.channel-2QD9_O[href="/library"], .channel-2QD9_O[href="/store"] {
    display: none;
}

/* Remove gradient from Spotify/Streaming/Xbox */
.userPopout-3XzG_A .header-2BwW8b, .root-SR8cQa>.topSectionSpotify-1lI0-P, .root-SR8cQa>.topSectionStreaming-1Tpf5X, .root-SR8cQa>.topSectionXbox-3fWLjS{
    background-size: cover, 0 !important;
}

/* Spinning add reactions button */
.container-1YxwTf .reactionBtn-2na4rd:hover {
    -webkit-animation: cv-spin 2.5s linear infinite;
    animation: cv-spin 2.5s linear infinite;
}

/* Old Eyes */
[aria-label=":eyes:"] {
    content: url("https://cdn.discordapp.com/attachments/334930809289179137/654470734135164978/eyes_1f440.png");
}

/* Easter Egg */
.regionSelectModalOption-2DSIZ3:nth-child(9) .regionSelectFlag-3uwFtG, .theme-dark .quickSelectPopout-X1hvgV .quickSelectPopoutOption-opKBx9:nth-child(9) .regionSelectFlag-1htPow {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

/* Better Country Names */
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 .regionSelectName-2-2FWh {
	font-size: 0px;
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(1) .regionSelectName-2-2FWh:before {
    content: "Rio";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(2) .regionSelectName-2-2FWh:before {
    content: "Danke Merkel";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(3) .regionSelectName-2-2FWh:before {
    content: "China";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(4) .regionSelectName-2-2FWh:before {
    content: "Pakistan";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(5) .regionSelectName-2-2FWh:before {
    content: "Hentai";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(6) .regionSelectName-2-2FWh:before {
    content: "Soviet Union";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(7) .regionSelectName-2-2FWh:before {
    content: "Singapore mah";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(8) .regionSelectName-2-2FWh:before {
    content: "Rich Africa";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(9) .regionSelectName-2-2FWh:before {
    content: "Aussie";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(10) .regionSelectName-2-2FWh:before {
    content: "Texas";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(11) .regionSelectName-2-2FWh:before {
    content: "Florida";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(12) .regionSelectName-2-2FWh:before {
    content: "Alabama";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:nth-child(13) .regionSelectName-2-2FWh:before {
    content: "Hawaii";
}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 .regionSelectName-2-2FWh:before {
    font-weight: 700;
    font-size: 16px;
    color: #99aab5;
}

