/* Cosmetic things. These are not as useful*/
/* Hide Blocked Message Groups - February 2020 Messages Update */
[class="groupStart-23k01U"], [class="groupStart-23k01U da-groupStart"] {margin-top: 0!important;}
[class="groupStart-23k01U"] .container-3FojY8,[class="groupStart-23k01U da-groupStart"] .container-3FojY8 {display: none;}

/* completely fucking nuke the gift button */
.buttons-3JBrkn>.button-38aScr:nth-child(1) {display:none;}

/* Gets rid of both Server Discovery and Add Server Button*/
.circleButtonMask-2VNJsN .wrapper-25eVIn, .pill-3YxEhL .wrapper-sa6paO .da-pill .da-wrapper {display: none;}

/* Remove "Library" and "Store" */
.channel-2QD9_O[href="/library"], .channel-2QD9_O[href="/store"] {display: none;}

/* Remove gradient from Spotify/Streaming/Xbox */
.userPopout-3XzG_A .header-2BwW8b, .root-SR8cQa>.topSectionSpotify-1lI0-P, .root-SR8cQa>.topSectionStreaming-1Tpf5X, .root-SR8cQa>.topSectionXbox-3fWLjS{background-size: cover, 0 !important;}

/* Spinning add reactions button */
.container-1YxwTf .reactionBtn-2na4rd:hover {-webkit-animation: cv-spin 2.5s linear infinite;animation: cv-spin 2.5s linear infinite;}

/* Old Eyes */
[aria-label=":eyes:"] {content: url("https://cdn.discordapp.com/attachments/334930809289179137/654470734135164978/eyes_1f440.png");}

/* Easter Egg */
.regionSelectModalOption-2DSIZ3:nth-child(9) .regionSelectFlag-3uwFtG, .theme-dark .quickSelectPopout-X1hvgV .quickSelectPopoutOption-opKBx9:nth-child(9) .regionSelectFlag-1htPow {-webkit-transform: scale(-1, -1);transform: scale(-1, -1);}

/*no protips*/
.protip-YaFfgO, .footer-1kmXd4 {display: none;}

/*No server boost level*/
.flowerStarContainer-3zDVtj, .da-flowerStarContainer, .iconBackgroundTierNone-3MPhMJ {display: none;}

/* Round Roles - Zerthox */
.role-2irmRk {flex-direction: row;border-radius: 11px;}
.role-2irmRk > .roleCircle-3xAZ1j {width: 12px;height: 12px;margin-left: auto !important;}
.role-2irmRk > .roleCircle-3xAZ1j:after {border-radius: 11px;}

/* Custom CSS tab - KitKat */
.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls, .ace_gutter-layer, .ace-monokai .ace_marker-layer .ace_active-line {background: var(--background-overlay);}
.ace-monokai .ace_gutter {background: var(--backdrop-overlay);color: var(--offline-color);}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button, .standardSidebarView-3F1I7i #editor-detached button {background: var(--main-color);transition: all .15s ease-in-out;}
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover, .standardSidebarView-3F1I7i #editor-detached button:hover {background: var(--hover-color);transition: all .15s ease-in-out;}
.container-2XeR5Z, .inner-3ErfOT, .ace-monokai {background-color: var(--background-overlay);}

/* Blur account email - Zerebos */
.userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj, .paymentSourceLabel-1lo4Ca, .subText-V8PTt8 {filter: blur(5px);transition: 200ms cubic-bezier(0.2, 0.11, 0, 1);}
.userInfoViewing-16kqK3 .flexChild-faoVW3 > div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj:hover, .paymentSourceLabel-1lo4Ca:hover, .subText-V8PTt8:hover {filter: none;transition: 200ms cubic-bezier(0.2, 0.11, 0, 1);}

/* Folder Hover - nameuser */
.folder-21wGz3:hover {background: var(--hover-color) !important;}
