/* The following CSS was made in part by Leozard, LeafyLuigi*/

/*
Things unable to be done (for now):
Channel and Mention list background in Upload Modal
Hovering in Server Boost Selection in User Settings
Hovering over someone who is currently live modal; background
Popout Live modal; might not be supported by BBD yet
*/

/*
To use this, put the following line at the top of your custom CSS:
@import url(https://leafyluigi.github.io/CVv6-CustomCSS/Custom-CSS.css);
*/

/* Server dropdown menu server boost */
.theme-dark .perksModal-fSYqOq, .theme-dark .tierMarkerBackground-3q29am{
    background-color: transparent;
}
.theme-dark .ctaBar-2UsjF2, .theme-dark .perk-2WeBWW, .theme-dark .tierBody-16Chc9, .theme-dark .tierHeaderLocked-1s2JJz, .theme-dark .barBackground-2EEiLw {
    background-color: var(--backdrop-overlay);
}
.tierMarker-5HkGJ_[style*="linear-gradient(to right, rgb(32, 34, 37), rgb(32, 34, 37));"] {
    background: var(--backdrop-overlay) !important;
}
.theme-dark .barForeground-3KglC8 {
    background-color: rgba(244,127,255,0.9);
}

/* Server Boost in User Settings*/
.guildHeader-3nh5RK, .subscribeTooltipWrapper-32-Ce8, .container-1gR2ZK {
    background-color: var(--background-overlay);
}
.guildSubscriptionSlots-JPXXvN {
    background-color: var(--background-overlay);
}
.cardWrapper-2Min21 {
    background: var(--background-overlay);
}
.subscribeTooltipWrapper-32-Ce8:after {
    border-bottom-color: var(--background-overlay);
}

/* Custom Status */
.theme-dark .root-1gCeng, .theme-dark .footer-3rDWdC {
    background: var(--background-overlay);
}
.input-cIJ7To:focus, .theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, .theme-dark .lookFilled-1h1y05.selectOpen-hQuR6b {
	border-color: var(--main-color);
}
.theme-dark .lookFilled-1h1y05.select-1Pkeg4:focus {
	border-color: transparent;
}

/* Create DM button color */
.clickable-3rdHwn .icon-22AiRD {
    color: var(--main-color);
    transition: all .3s ease-in-out;
}
.clickable-3rdHwn:hover .icon-22AiRD {
    color: var(--hover-color);
    transition: all .3s ease-in-out;
}

/* Emoji Box */
.emojiPicker-3m1S-j .categories-1feg4n {
  background-color: var(--background-overlay);
}
.infoBar-U6oBFk {
  background-color: transparent;
}

/* Reaction Color fix */
.reaction-1ELvT8.reactionMe-23mbRf {
    background-color: var(--main-color);
}
.reactionMe-23mbRf .reactionCount-2ddRoS {
    color: rgba(255,255,255,0.5);
}
.reactionMe-23mbRf:hover .reactionCount-2ddRoS {
    color: rgb(255,255,255);
}

/* Reactions List  */
.theme-dark .reactors-Blmlhw , .theme-dark .sidebar-1-SQro {
    background-color: transparent;
}
.theme-dark .reactionSelected-1pqISm {
	background-color: var(--main-color)
}

/* Pinned Messages */
.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: var(--background-overlay);
    border-color: var(--main-color);
}
.theme-dark .header-ykumBX, .theme-dark .messagesPopout-24nkyi, .theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: var(--background-overlay);
    border-color: rgba(255,255,255,0.1);
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover {
    border-color: var(--main-color);
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    box-shadow: none;
    background-color: transparent;
}
.theme-dark .jumpButton-3DTcS_ {
    background-color: var(--main-color);
}

/* Game activity */
.theme-dark .notDetected-33MY4s {
    background-color: var(--background-overlay);
}
.lookLink-9FtZy-.colorLink-35jkBc {
    color: var(--main-color);
}
.lookLink-9FtZy-.colorLink-35jkBc:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,transparent,transparent 1px,var(--main-color) 0,var(--main-color) 2px,transparent 0);
}
.theme-dark .addGamePopout-2RY8Ju, .css-181m2lf-menu {
    background-color: var(--backdrop-overlay);
}
.theme-dark .css-181m2lf-menu > div > div:hover {
    background-color: var(--hover-color);
}
.theme-dark .button-2CgfFz, .theme-dark .button-2CgfFz:hover, .theme-dark .card-FDVird:before { /* also affects game activity list */
    border: 0.1em solid var(--main-color);
    background-color: var(--background-overlay);
}

/* Verified game tick */
.flowerStarContainer-3zDVtj > svg > path {
    fill: var(--main-color);
}

/* Message Deletion */
.theme-dark .message-2qRu38{
    background-color: var(--background-overlay);
    border: 0.1em solid var(--main-color);
}

/* Custom Color Picker */
.theme-dark .colorPickerCustom-2CWBn2 {
    background-color: var(--background-overlay);
    border: 0.1em solid var(--main-color);
}

/* Region Selector */
.theme-dark .regionSelectModal-12e-57, .theme-dark .regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 {
    background-color: var(--background-overlay);
    border: 0.1em solid var(--main-color);
}
.regionSelectModal-12e-57 {
    width: 704px;
}

/* Nitro Gift box thing */
.table-39R0Oe {
    background-color: var(--background-overlay);
    border: 0.1em solid var(--main-color);
}

/* Upload Modal*/
.theme-dark .uploadModal-2ifh8j, .theme-dark .footer-3mqk7D {
    background-color: var(--background-overlay);
}
.theme-dark .checked-3_4uQ9[style*="border-color"] {
    background-color: transparent !important;
}
.theme-dark .checked-3_4uQ9[style*="border-color"] svg g polyline {
	stroke: var(--main-color);
}
.theme-dark .uploadModal-2ifh8j {
	border: 2px solid var(--main-color);
} 

/* Server Boost in Server Settings*/
.theme-dark .tierHeaderLocked-1a2opw, .theme-dark .background-3xPPFc {
    background-color: var(--background-overlay);
}
.theme-dark .tierBody-x9kBBp {
    background-color: var(--background-overlay);
}
.theme-dark .foreground-2EIns2 {
    color: rgba(244,127,255,0.9);
}
.theme-dark .tierInProgress-3mBoXq {
    background-color: var(--background-overlay);
    border: 0.1em solid rgb(244,127,255);
}

/* Test video */
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: rgba(255,255,255,0.01);
    border: 0.1em solid var(--main-color);
}
.userSettingsVoice-iwdUCU .media-engine-video {
    background-color: transparent;
}

/* Test Audio */
.container-3PXSwK, .userSettingsVoice-iwdUCU .sliderBar-3DezvM.speaking-2bFhO4 {
    background: var(--main-color) !important;
}
.theme-dark .progress-1IcQ3A {
    background-color: var(--background-overlay);
}
.notches-1sAcEM {
    display: none;
}

/* Billing page */
.theme-dark .paymentPane-3bwJ6A, .theme-dark .paginator-166-09, .theme-dark .hoverablePayment-Yc6mK7.payment-xT17Mq {
    background-color: transparent !important;
    border: none
}
.theme-dark .bottomDivider-1K9Gao {
    border-bottom: 0.05em solid var(--main-color) !important;
}
.theme-dark .hoverablePayment-Yc6mK7:hover, .theme-dark .expandedInfo-3kfShd, .theme-dark .payment-xT17Mq, .theme-dark .codeRedemptionRedirect-1wVR4b {
    background-color: var(--background-overlay) !important;
    border: 0.1em solid var(--main-color);
}

/* Gift Inventory */
.scroller-5bBood, .theme-dark .card-7JP0BX{
    background: transparent;
}
.theme-dark .header-1RC2Wb {
    background-color: var(--background-overlay);
    border: 0.1em solid var(--main-color);
}

/* Subscriptions page*/
.detailsBlock-FoDTGA {
    background-color: var(--background-overlay);
}
.theme-dark .tier1Banner-1B_WXY {
    background-image: none;
    background-color: var(--background-overlay);
}

/* Keybinds menu */
.theme-dark .keyboardShortcutsModal-3piNz7 {
    background-color: var(--background-overlay);
}

/* New Server Modal */
.theme-light .wrapper-2ZbzR9 {
    background: transparent;
}
.avatarUploaderInner-3UNxY3 {
    background-color: var(--main-color);
}
.theme-light .sampleLink-KPFu3I, .regionSelect-3lf4eE button {
    color: var(--main-color);
}
.theme-dark .regionSelect-3lf4eE:hover .regionSelectInner-24f4Ce {
    border-color: var(--main-color);
}
.theme-dark .regionSelect-3lf4eE:hover button {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.appMount-3lHmkl .modal-yWgWj-, .theme-dark .theme-light .slide-2pHaq5, .theme-dark .theme-light .action-1lSjCi, .theme-dark .theme-light .footer-3rDWdC {
    background: var(--background-overlay);
}

/* Quickswitcher */
.quickswitcher-3JagVE{
    background-color: var(--background-overlay);
}
.input-2VB9rf { 
    background-color: rgba(255,255,255,0.08);
}
.scroller-zPkAnE {
    background-color: transparent;
}

/* Switches */
.themeDefault-24hCdX {
    background-color: rgba(255,255,255,0.3);
}
.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: var(--main-color) !important;
}

/* Checkboxes */
.item-26Dhrx[style*="background-color"] {
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}
.theme-dark .checked-3_4uQ9[style*="border-color"] {
    border-color: var(--main-color) !important;
}

/* Overlay */
.selected-mKYnfr.option-n0icdO {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.option-n0icdO:hover {
    background-color: var(--hover-color);
}
.wrapper-3jrx9n {
    border: 2px solid var(--main-color);
}
.userPopout-3XzG_A .headerSpotify-zpWxgT .content-3JfFJh a {
    color: hsla(0,0%,100%,.8);
}

/* Notifications Settings */
.theme-dark .override-2YgiXd:hover {
    border-color: var(--main-color);
}

/* Screenshare Modal */
.theme-dark .tiles-2aXG_k {
    background-color: var(--background-overlay);
}
.selectorButtonSelected-1j4DmC {
    background-color: var(--main-color);
}

/* Invite Modal */
.container-2XeR5Z {
    background-color: var(--background-overlay);
}
.inviteRow-2L02ae:hover {
    background-color: rgba(255,255,255,0.4);
}
.theme-dark .slideBody-2nMrnU, .theme-light .slideBody-2nMrnU, .slideBody-35BNbg {
   border: 2px solid var(--main-color);
}
.theme-dark .header-3ZP1MY, .theme-light .header-3ZP1MY {
    color: var(--main-color);
}

/* Invite from web browser modal */
.theme-dark .contentWrapper-3WC1ID {
    background: var(--background-overlay)
}
.pill-1dHPfk {
    background-color: transparent;
}
.lookLink-9FtZy-.colorBrand-3pXr91{
    color: var(--main-color);
}
.lookLink-9FtZy-.colorBrand-3pXr91:hover .contents-18-Yxp {
    background-image: linear-gradient(0deg,transparent,transparent 1px,var(--main-color) 0,var(--main-color) 2px,transparent 0);
}

/* Voice badge */
.iconBadge-2wi9r4.participating-NBGDkr {
    background-color: var(--backdrop-overlay);
}

/* Workaround to have borders on misc modals while not breaking new server modal */
.theme-dark .appMount-3lHmkl .modal-yWgWj- {
	border: 2px solid var(--main-color);
}
.theme-dark .appMount-3lHmkl .theme-light .modal-yWgWj- {
	border: none;
}

/* hey did you know you can fuck with the upload file thing? */
.uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc {
    background-color: var(--main-color);
}
.attachWrapper-1_D-pj {
    z-index: 1;
}

/* Chatbar fixes from KitKat3582 */
.channelTextArea-1LDbYG .attachWrapper-1_D-pj {
	z-index: 1;
    left: 2px;
    top: 2px;
}
.chat-3bRxxu .textArea-2Spzkt {
	border: 2px solid rgba(255, 255, 255, 0.07);
	border-radius: 5px;
	transition: all .15s ease-in-out;
}
.chat-3bRxxu .textArea-2Spzkt:focus-within {
    border: 2px solid var(--main-color);
    border-radius: 5px;
    transition: all .15s ease-in-out;
}
.placeholder-P6ptfj {
	left: 54px;
}
.slateTextArea-1bp44y{
	position: inherit;
	left: -2px;
}
.webkit-26NYEN .buttons-205you {
    border: 2px solid transparent;
    margin-right: 0px;
}
.channelTextArea-1LDbYG .textArea-2Spzkt {
overflow-y: hidden;
}

/* Blocked user "chat box" */
.wrapper-39oAo3 {
    background-color: var(--background-overlay);
}

/* Direct Messages label */
.headerText-1-AnT0 {
    overflow: visible;
}

/* Easter Egg */
.regionSelectModalOption-2DSIZ3:nth-child(9) .regionSelectFlag-3uwFtG {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}
