/* Cosmetic things. These are not as useful*/
/* Hide all blocked messages*/
.blockedSystemMessage-2Rk1ek {display: none;}

/* completely fucking nuke the gift button */
.buttons-3JBrkn>.button-38aScr:nth-child(1) {display:none;}

/* Gets rid of both Server Discovery and Add Server Button*/
.circleButtonMask-2VNJsN .wrapper-25eVIn, .pill-3YxEhL .wrapper-sa6paO .da-pill .da-wrapper {display: none;}

/* Remove "Library" and "Store" */
.channel-2QD9_O[href="/library"], .channel-2QD9_O[href="/store"] {display: none;}

/* Remove gradient from Spotify/Streaming/Xbox */
.userPopout-3XzG_A .header-2BwW8b, .root-SR8cQa>.topSectionSpotify-1lI0-P, .root-SR8cQa>.topSectionStreaming-1Tpf5X, .root-SR8cQa>.topSectionXbox-3fWLjS{background-size: cover, 0 !important;}

/* Spinning add reactions button */
.container-1YxwTf .reactionBtn-2na4rd:hover {-webkit-animation: cv-spin 2.5s linear infinite;animation: cv-spin 2.5s linear infinite;}

/* Old Eyes */
[aria-label=":eyes:"] {content: url("https://cdn.discordapp.com/attachments/334930809289179137/654470734135164978/eyes_1f440.png");}

/* Easter Egg */
.regionSelectModalOption-2DSIZ3:nth-child(9) .regionSelectFlag-3uwFtG, .theme-dark .quickSelectPopout-X1hvgV .quickSelectPopoutOption-opKBx9:nth-child(9) .regionSelectFlag-1htPow {-webkit-transform: scale(-1, -1);transform: scale(-1, -1);}

/*no protips*/
.protip-YaFfgO {display: none;}
.footer-1kmXd4 {display: none;}
