/* DO NOT USE THIS IF YOU DON'T WANT TO KEEP DISCORD LOOKING PRETTY. THIS IS EXPERIMENTAL AND LIKELY VERY UGLY. */

/* Add the following once all buttons of var(--main-color) have a gradient, allow the gradient degrees to be easily changed */
/* -- Gradients -- */
/* Home Icon */
.childWrapper-anI2G9, .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
/* Selected Channel */
.modeSelected-1zApJ_ .content-3at_AU,
/* Selected Tab - Friends Menu */
.container-1r6BKw .topPill-30KHOu .item-PXvHYJ.selected-3s45Ha.themed-OHr7kt,
/* LOTS of buttons */
.appMount-3lHmkl .lookFilled-1Gx00P.colorGreen-29iAKY,
.appMount-3lHmkl .lookFilled-1Gx00P.colorBrand-3pXr91,
.appMount-3lHmkl .lookFilled-1Gx00P.colorPrimary-3b3xI6,
/* Selected Option - User Settings */
.item-26Dhrx[style*="background-color"],
/* Selected Position - Overlay */
.selected-mKYnfr.option-n0icdO,
/* New Messages Bar */
.divider-3gKybi:before,
/* New Messages dropdown */
.newMessagesBar-mujexs:before


{
    background-image:
        linear-gradient(-45deg,
        var(--main-color),
        var(--hover-color))
        !important;
} 

/* Selected Direct Message */
.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md:after,
/* Selected User - Group DM */
.popout-103y-5 .tag-2gHSR7,
/* Selected Tab - Search */
.tab-2Ixsn0.selected-16te-P:after,
/* Top Bar(s) */
.layer-v9HyYc .themedPopout-1TrfdI .header-ykumBX
{
    background:
    linear-gradient(-45deg,
    var(--main-color),
    var(--hover-color))
    !important;
}
