.regionSelectModalOption-2DSIZ3:nth-child(6) .regionSelectFlag-3uwFtG {
	background-image: url(https://leafyluigi.github.io/CVv6-CustomCSS/Add-Ons/CustomFlags/SU.png) !important;
	background-color: transparent;
}
